<link rel="stylesheet" href="/css/styles.css" />
<html>
  <body>
    <div class="card">
        <h1>{{postData.title}}</h1>
        <p>Created By: {{postData.user}}</p>
        <p>{{postData.time}}</p>
        <p>{{postData.body}}</p>
    </div>
  </body>
</html>