<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/jass.css" />
  </head>

  <body>
    <header>
      <h1>Welcome to our blog</h1>
    </header>
    
    <nav>
      <form action="/" method="GET">
        <button>Home</button>
      </form>

      {{#if loggedIn}}
        <form action="/logout" method="POST">
          <button type="submit" id="logout">Logout</a>
        </form>
      {{else}}
      <form action="/login" method="GET">
        <button id="">Login</button>
      </form>
      {{/if}}

    </nav>
    <main>
      <div class="gallery">
        {{{body}}}
      </div>

    </main>

    {{#if loggedIn}}
  <script src="/js/index.js"></script>
  {{/if}}
    <script src="/js/index.js"></script>
  </body>

</html>