<link rel="stylesheet" href="/css/styles.css" />
<link rel="stylesheet" href="/css/jass.css" />

<html>
  <head>
    <meta charset="utf-8" />
    <title>403 Forbidden</title>
  </head>
  <body>
    <main>
      <h1>Awww! I'm sorry but this is a Forbidden (403) action!</h1>
      <p>You can only update or delete posts that are yours.</p>
    </main>
  </body>
</html>