<html>
  <body>
    <form id="login" class="card p-5">
      <h1>Login</h1>
      <div>
        <label for="email">Email:</label><br />
        <input class="form" type="text" id="email" />
      </div>
      <div>
        <label for="password">Password:</label><br />
        <input class="form" type="password" id="password" />
      </div>
      <div class="form mt-2">
        <button class="btn btn-primary " type="submit">login</button>
      </div>
      <div class="mt-2">
            <a href="/signup">Sign Up Instead</a>
        </div>
    </form>
    <script src="js/index.js"></script>
  </body>
</html>