<!DOCTYPE html>
    <body>
        <form id="signup" class="card p-5" method="post" action="/signup">
            <h1>Sign Up</h1>
            <div>
                <label for="email">Email:</label><br />
                <input class="form" type="text" id="email-su" name="email" />
            </div>
            <div>
                <label for="username">Username:</label><br />
                <input class="form" type="text" id="username-su" name="username" />
            </div>
            <div>
                <label for="password">Password:</label><br />
                <input class="form" type="password" id="password-su" name="password" />
            </div>
            <div class="form mt-2">
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
            <div class="mt-2">
                <a href="/login">Login Instead</a>
            </div>
        </form>
    </body>
</html>
