body {
  width: 100vw;
  overflow-y: scroll;
  margin: 0;
  height: 1150px;
}

/* ==================== Nav and Header Styling ==================== */

header {
  background-color: grey;
  display: flex;
  height: 250px;
}

header h1 {
  margin-inline-start: 5px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
}

main {
  text-align: center;
}

nav {
  position: absolute;
  left: 50%;
  top: 17%;
  transform: translate(-50%, -50%);
}

/* This is the styling for the login/logout and home buttons */
button {
  padding: 5px;
}

nav form {
  margin-top: 12px;
}

.main-area {
  width: 1000px;
  position: absolute;
  left: 50%;
  top: 28%;
  transform: translateX(-50%);
  border: 1px solid;
  min-height: 420px;
  height: auto;
  text-align: left;
}

/* ==================== Base card styling ==================== */
.cards,
.card {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
}

.card {
  border: 2px solid;
  width: 1000px;
  background-color: white;
  z-index: 1;
}

.card p {
  font-size: 18px;
}

.cards a {
  color: black;
}

.cards a:hover {
  text-decoration: none;
  color: black;
}

/* ==================== Comment Styling ==================== */

.comment-zone {
  height: 200px;
  position: relative;
  top: 185px;
  width: 100%;
  overflow: auto;
  padding: 10px;
  margin-top: -30px;
}

.comment-item {
  border-bottom: 1px solid black;
}

.created {
  font-size: 12px;
  margin-inline-start: 5px;
}

.text {
  margin-top: -15px;
}

.comment-form {
  position: absolute;
  bottom: 0;
  display: flex;
}

.comment-form textarea {
  min-height: 45px;
  height: auto;
  max-height: 100px;
  overflow-y: auto;
}

.comment-form textarea:focus {
  outline: none;
}

#comment {
  position: absolute;
  width: 90%;
  left: 0;
  bottom: -16px;
}

.comment {
  width: 10%;
  position: absolute;
  right: 0;
  bottom: -16px;
  height: 45px;
}

/* ==================== Blog Card ==================== */

.blog_card {
  border: 2px solid;
  margin: 10px;
  width: 1000px;
}

.blog_card:hover {
  cursor: pointer;
}

.blog_card h2,
.card h1 {
  border-bottom: 1px solid;
  padding-left: 10px;
}

.blog_card p,
.card p {
  padding-left: 10px;
}

/* ==================== Login styling ==================== */

#login {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ==================== New Post ==================== */

#textpost {
  resize: none;
  width: 100%;
}

#post-Title {
  width: 100%;
  height: 45px;
  font-size: 25px;
}

#postBtn {
  width: 100%;
  height: 60px;
}

#newPostBtn {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 90px;
  height: 90px;
  border: none;
  border-radius: 50%;
  font-size: 40px;
  padding-top: 10px;
  color: white;
  background-color: black;
}

#newPostBtn:hover {
  cursor: pointer;
}

/* ==================== Update Form ==================== */

.update-form {
    border: 1px solid;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 450px;
}

.input {
    margin: 10px;
}

.update {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    width: 175px;
    height: 45px;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
    resize: none;
    height: 175px;
}

#delete {
  position: absolute;
  top: 27.3%;
  left: 68.5%;
  transform: translate(-50%, 50%);
}

#delete-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
}

#delete-btn:hover {
  cursor: pointer;
}